extends commentLayout

block content
    .comment-section
	    .comment-input
		    | Add a comment
			.input(contenteditable="true")
			input(type="button" value="Post" class="post-btn")
	    .comments-box